/*---------------------------------------------------------------
 Global styles
----------------------------------------------------------------*/

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  font-family: "Barlow Condensed", sans-serif;
}

/*
-------------------------------------------------------------------------------
HTML elements
-------------------------------------------------------------------------------
*/
.wrapper {
  background: radial-gradient(
    134.34% 134.34% at 50% 0%,
    #1f3757 0%,
    #131537 100%
  );
  height: 100vh;
  width: 100vw;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.scoreboard {
  width: 700px;
  height: 150px;
  border: 1px solid white;
  border-radius: 15px;
  margin-top: 50px;
  padding: 0 20px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.score {
  width: 150px;
  height: 114px;
  background-color: white;
  border-radius: 8px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  padding: 20px 0;
}

.score > p {
  text-transform: uppercase;
  color: #2a45c2;
  font-size: 16px;
  font-weight: 700;
  letter-spacing: 2.5px;
}

.score > h1 {
  color: #565468;
  font-size: 56px;
  font-family: "Barlow", sans-serif;
}
