/*---------------------------------------------------------------
 Global styles
----------------------------------------------------------------*/
@import url("https://fonts.googleapis.com/css2?family=Barlow+Semi+Condensed:wght@600;700&display=swap");

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  font-family: "Barlow Semi Condensed", sans-serif;
}

/*
-------------------------------------------------------------------------------
HTML elements
-------------------------------------------------------------------------------
*/
.wrapper {
  background: radial-gradient(
    134.34% 134.34% at 50% 0%,
    #1f3757 0%,
    #131537 100%
  );
  height: 100vh;
  width: 100vw;
  display: flex;
  flex-direction: column;
  align-items: center;
}

/* Scoreboard */
.scoreboard {
  width: 700px;
  height: 150px;
  border: 1px solid white;
  border-radius: 15px;
  margin-top: 50px;
  padding: 0 20px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.score {
  width: 150px;
  height: 114px;
  background-color: white;
  border-radius: 8px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  padding: 20px 0;
}

.score > p {
  text-transform: uppercase;
  color: #2a45c2;
  font-size: 16px;
  font-weight: 700;
  letter-spacing: 2.5px;
}

.score > h1 {
  color: #565468;
  font-size: 56px;
  font-family: "Barlow Semi Condensed", sans-serif;
}

/* Hands */
.hands {
  margin-top: 100px;
  width: 476px;
  height: 430px;
  background-image: url(../img/triangle.png);
  background-repeat: no-repeat;
  background-position: center;
  z-index: 0;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  column-gap: 40px;
}

.hands > .hand {
  cursor: pointer;
  transition: all 0.25s;
}

.hands > .hand:hover {
  transform: translate3d(0, -8px, 0);
}

.hand > img {
  width: 200px;
  height: 200px;
  display: block;
}

/* Contest */
.contest {
  margin-top: 100px;
  width: 900px;
  text-transform: uppercase;
  color: white;
  align-items: center;
  justify-content: space-between;
  display: none;
}

.contest > * {
  flex: 1;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 40px;
}

.referee > button {
  padding: 12px 24px;
  text-transform: uppercase;
  color: hsl(229, 25%, 31%);
  border-radius: 5px;
  transition: all 0.15s;
  border: none;
  cursor: pointer;
}

.referee > button:hover {
  background-color: rgb(218, 218, 218);
  transform: translate3d(0, -2px, 0);
}

.userhand > h1,
.computerhand > h1 {
  font-size: 20px;
  text-align: center;
}

.userhand img,
.computerhand img {
  width: 275px;
  height: 275px;
}

.decision > h1 {
  font-size: 45px;
}
